@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family:'Policevalo';
    src: url('Valorant\ Font.ttf') format('truetype');
}
@font-face {
    font-family:'Impact';
    src: url('Impact.ttf') format('truetype');
}

body {
    background-color: #30383f;
}

header {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 10;
}

.navbar {
    position: absolute;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Policevalo';
    background-color: #fa4454;

}
.navbar .logodevalo{
    height: 60px;
}
.navbar a {
    color: black;
    font-size: 24px;
}
.navbar a:hover {
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.navbar .nav-links ul {
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 20px;
}
.navbar .menu-hamburger {
    display: none;
    margin-right: 20px;
    height: 40px;
}
@media screen and (max-width: 768px) {
    .navbar .menu-hamburger {
        display: block;
        z-index: 3;
    }
    .navbar {
        padding: 0;
    }
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #30383f3f;
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5 ease ;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .navbar .nav-links ul li {
        margin: 20px 0;
        font-size: 1.3em;
    }
}
.enteter {
    height: 50px;
    width: 100%;
    background-color: #fa4454;
}
.ecart {
    height: 10px;
    width: 100%;
    background-color: #fa445300;
}
#image-container {
    text-align: center;
}
#image {
    margin-right: 5%;
    max-height: 500px;
    filter: brightness(0); /* Image noir au départ */
}
#reponse-container {
    margin-top: 30px;
    text-align: center;
}
#reponse {
    width: 300px;
    padding: 10px;
    border: 2px solid red; /* Bordure rouge */
    font-size: 16px;
}
#verifier {
    width: 100px; /* Largeur de 200px pour le bouton */
    padding: 1px;
    height: 50px;
    font-size: 20px;
    border: 2px solid red; /* Bordure rouge */
    font-family: 'Policevalo';
    color: whitesmoke;
    background-color: #30383f;
}
#verifier:hover {
    border: 2px solid rgb(255, 255, 255); /* Bordure rouge */
    color: whitesmoke;
    background-color: #fa4454;
}
.imgsuiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#suivant {
    width: 30%; /* Largeur de 200px pour le bouton */
    height: 40px;
    font-size: 20px;
    border: 2px solid red; /* Bordure rouge */
    font-family: 'Policevalo';
    color: whitesmoke;
    background-color: #30383f;
}
#suivant:hover {
    border: 2px solid rgb(255, 255, 255); /* Bordure rouge */
    color: whitesmoke;
    background-color: #fa4454;
}

#resultat-final {
    margin-top: 10px;
    text-align: center;
    font-family: 'Policevalo';
    color: white;
}
#refreshButton {
    width: 30%; /* Largeur de 200px pour le bouton */
    height: 40px;
    font-size: 20px;
    border: 2px solid red; /* Bordure rouge */
    font-family: 'Policevalo';
    color: whitesmoke;
    background-color: #30383f;
}
#refreshButton:hover {
    border: 2px solid rgb(255, 255, 255); /* Bordure rouge */
    color: whitesmoke;
    background-color: #fa4454;
}
@media screen and (max-width: 900px) {
    #suivant {
        width: 50%; /* Largeur de 200px pour le bouton */
    }
    #refreshButton {
        width: 70%; 
        font-size: 20px;
    }
}